@page
@model ToDoList.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ToDoListItem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoListItem.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoListItem.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoListItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoListItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoListItem.IsCompleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDoListItem.IsCompleted)
        </dd>
    </dl>
    
    <form method="post" asp-page-handler="delete" asp-route-id="@Model.ToDoListItem.Id">
        <input type="hidden"  asp-for="ToDoListItem.Id" />
        <input type="submit" value="Delete"  class="btn btn-danger" /> |
        <a asp-page="./TaskIndex">Back to List</a>
    </form>
</div>
